SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=

DB_ENGINE=django.db.backends.postgresql
DB_NAME=gesm_leave
DB_USER=gesm_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=noreply@gesm.org
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=GESM Leave System <noreply@gesm.org>

TIME_ZONE=Asia/Manila