{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center">
                <i class="fas fa-sign-in-alt me-2"></i> Login
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-sign-in-alt me-2"></i> Login
                        </button>
                    </div>

                    <div class="text-center mt-2">
                    <a href="{% url 'password_reset' %}" class="text-decoration-none text-muted">
                        <small>Forgot your password?</small>
                    </a>
                </div>
                </form>
                <hr>
                <div class="text-center">
                    <a href="{% url 'register' %}" class="text-decoration-none">
                        Don't have an account? Register here
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}